<section class="login-from bg-form pt-4">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="form-wrapper ">
                    <div class="booking-header">
                        <h4>Below is your booking detail!</h4>
                    </div>
      

                           <div _ngcontent-ndp-c80="" class="order-details">
                              <div _ngcontent-ndp-c80="" class="row align-items-center ng-star-inserted" style="border-bottom: 1px solid #cccc; padding-bottom: 11px;">
                     
                                 <div _ngcontent-ndp-c80="" class="col-sm-6">
                                    <div _ngcontent-ndp-c80="" class="order-text">
                                       <h4 _ngcontent-ndp-c80="">{{bookingDetails.name}}</h4>
                       
                                       <div _ngcontent-ndp-c80="" class="inst-date"><b _ngcontent-ndp-c80=""> Date:</b> {{serviceDetails.date}} @{{serviceDetails.time}}</div>
                                       <div _ngcontent-ndp-c80="" class="vid-date"><b _ngcontent-ndp-c80="">Order Id:</b> {{bookingID}}</div>
                                    </div>
                                 </div>
                                 <div _ngcontent-ndp-c80="" class="col-sm-3">
                                    <div _ngcontent-ndp-c80="" class="tot-price">
                                       <b _ngcontent-ndp-c80="">Price</b>
                                       <h5 _ngcontent-ndp-c80=""> ${{serviceDetails.finalPrice}}</h5>
                                    </div>
                                 </div>
                              </div>
                              <!---->
                              <!---->
                           
                              <!---->
                           </div>
                           <h4 _ngcontent-ndp-c80="" class="text-center d-block">Thank you for your order! your request has been submitted. <br _ngcontent-ndp-c80=""> We will contact you soon.</h4>
                        </div>
     

 
                </div>
        </div>      
    </div>
</section>

