<!---------------- Banner Section -------------->
<!-- <div class="banner services-page custom-service" *ngIf="jobDetails" [style.background]="'url(' + jobDetails.main_image + ')'">
</div> -->
<!---------------- Banner Section Bottom -------------->
<div class="booking-form pd-40">
    <div class="container">
        <div class="row">	            	
            <div class="col-xl-8 col-lg-7">
                <div class="bookingForm">
                    <div class="booking-header">
                        <h4>Complete your booking</h4>
                        <p class="pt-2">Great! We have availability at this time. A few more details and we can complete your booking.</p>
                    </div>
                    <form  [formGroup]="completeForm" autocomplete="off" novalidate (ngSubmit)="booking(confirm)">
                        <h4>Service Address</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                              <label>First Name</label>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" formControlName="fname" required>
                              <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                <div *ngIf="f.fname.errors.required">First name is required</div>
                          
                            </div>
                            </div>
                        <div class="form-group col-md-6">
                              <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" formControlName="lname" required>
                              <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                <div *ngIf="f.lname.errors.required">Last name is required</div>
                          
                            </div>
                            </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                              <label>Street address</label>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" formControlName="street" required>
                              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                                <div *ngIf="f.street.errors.required">Address is required</div>
                          
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                              <div class="form-group">
                              <label>APT#(optional)</label>
                              <input type="text" class="form-control" formControlName="apt">
                        </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                              <label>City</label>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" formControlName="city" required>
                              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">City is required</div>
                          
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                              <div class="form-group">
                              <label>State</label>
                              <input type="text" class="form-control" placeholder="AK" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" formControlName="state" required>
                              <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                          
                            </div>
                        </div>
                        </div>
                      </div>

                       <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                              <label>Street address</label>
                              <input type="text" class="form-control">
                        </div>
                      </div> -->

                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="validationTooltipUsername">Phone Number</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">+1</span>
                            </div>
                            <input type="text" class="form-control" OnlyNumber="true" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone" required>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                              <div *ngIf="f.phone.errors.required">Phone is required</div>
                        
                          </div>
                          </div>
                        </div>
                      </div>

                      <h4 class="py-3">Payment Information</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                              <label>Credit Card Number</label>
                              <input type="text" OnlyNumber="true"  formControlName="card" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.card.errors }" [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number" class="form-control">
                              <span class="card-lock"><img src="assets/images/lock.png"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label></label>
                              <img src="assets/images/discover.png" class="img-fluid mt-2">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-lg-3 col-md-12">
                              <label class="form-expiration">Expiration</label>
                              <input type="text" formControlName="month" maxlength="2" [ngClass]="{ 'is-invalid': submitted && f.month.errors }" [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" OnlyNumber="true"  data-stripe="exp_month" class="form-control exp_month" placeholder="MM">
                              <span class="month-slash"> </span>
                            <input [(ngModel)]="expiryYear" maxlength="2" OnlyNumber="true"  [ngClass]="{ 'is-invalid': submitted && f.year.errors }" class="form-control exp_year" name="expiry-year"  formControlName="year" placeholder="YY" type="text" size="2" data-stripe="exp_year">
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                              <label>Security Code</label>
                              <input type="text"  maxlength="4"  OnlyNumber="true"  formControlName="cvc" [ngClass]="{ 'is-invalid': submitted && f.cvc.errors }" [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc"  class="form-control" placeholder="CVC">
                        </div>
                      </div>

                      <div class="form-group mt-4">
                        <div class="form-check">
                            <input type="checkbox" id="accept" name="accept" formControlName="terms" [ngClass]="{ 'is-invalid': submitted && f.terms.errors }" required>
                            <!-- <input class="form-check-input" type="checkbox" > -->
                                <label  for="accept" class="form-check-label"><span>I understand that I am puchasing a service subject to Lehighvalleypros <a href="">Terms of Use</a> and <a href="">Cancellation Policy</a> and my payment method will be charged before the service.</span>
                                </label>

                              <!-- <input type="checkbox" id="fruit4" name="fruit-4" value="Strawberry">
                              <label for="fruit4">Strawberry</label> -->									
                        </div>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-primary">Pay Now</button>
                    </div>
                    </form>           		
                        
                </div>		                	
            </div>
               <div class="col-xl-4 col-lg-5">
                <div class="sidebar-area">
                      <div class="booking-form-sidebar">
                          <div class="booking-side-header">
                              <div>
                                  <h5>{{jobDetails.name}}</h5>
                                  <p>{{orderDetails.date | date}} @ {{orderDetails.time}} (2 hours)</p>
                              </div>
                          </div>
                          <div class="booking-side-body">
                              <div>
                                  <div class="row">
                                  <div class="col-sm-6">
                                      <p>Basic Price</p>
                                  </div>
                                  <div class="col-sm-6 text-right"><p>${{jobDetails.price}}</p></div>
                                  <div class="col-sm-6">
                                      <p>Trust  & Support Fee</p>
                                  </div>
                                  <div class="col-sm-6 text-right"><p>${{orderDetails.support}}</p></div>
                              </div>
                              </div>
                              
                          </div>
                        <div class="booking-side-footer">
                            <div>
                            <div class="row">
                                  <div class="col-sm-6">
                                      <p class="form-tot"><b>total</b></p>
                                  </div>
                                  <div class="col-sm-6 text-right"><p class="form-price">${{totalPrice}}<sup>00</sup></p></div>
                              </div>
                        </div>	
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #confirm>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Login</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
     <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body" >
    <section class="login-from">
      <div class="container">
          <div class="row mt-5  pb-3" >
              <div class="col-md-12 col-sm-12 mx-auto">
                  <div class="form-wrapper login_wrapper">
                      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a href="javascript::" (click)="socialLogin('facebook')" class="btn btn-primary facebook"> <span>Login with Facebook</span> <i class="fa fa-facebook" style="padding-left: 2px;"></i> </a> </div>
                      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a href="javascript::" (click)="socialLogin('google')" class="btn btn-primary google-plus"> Login with Google <i class="fa fa-google-plus" style="padding-left: 2px;"></i> </a> </div>
                  </div>

                 <p class="text-center">- OR -</p>
                      <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login()">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <input type="email" class="form-control"    placeholder="Email" formControlName="email" required>
                              </div>
                          </div>                                   
                          
                          <div class="col-md-12">
                              <div class="form-group">
                                  <input type="password"  class="form-control"  placeholder="Password"  formControlName="password" required>
                              </div>
                          </div> 
                          <div class="col-md-6 col-sm-12">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox"  formControlName = "rememberme"  name="remember"> Remember Me
                                  </label>
                              </div>
                          </div> 
                          <div class="col-md-6 col-sm-12 forget-pswrd">
                              <label><a href="javascript::" (click)="register()">Signup Here</a></label>
                          </div>                     
                      </div>
                      <div class="text-center">
                          <button class="btn-cstm btn-blue">Login</button>
                      </div>
                       
                                        
                      </form>
                  </div>
                  </div>
          </div>      
      </div>
  </section>
  
  
  




  </div>
</ng-template>

<!---------------- All categories Section -------------->