<div _ngcontent-utv-c9="" class="breadcrumbs">
    <div _ngcontent-utv-c9="" class="container">
        <div _ngcontent-utv-c9="" class="row">
            <ul _ngcontent-utv-c9="" class="cd-breadcrumb">
                <li _ngcontent-utv-c9="" >
                    <a _ngcontent-utv-c9=""  routerLink="/dashboard" >My Bookings</a>
                </li>
                <li _ngcontent-utv-c9="">
                    <a _ngcontent-utv-c9=""  routerLink="/profile" >My Profile</a>
                </li>
               
                <li _ngcontent-utv-c9="">
                    <a _ngcontent-utv-c9="" class="current" routerLink="/change-user-password" >Change Password</a></li>
                <li _ngcontent-utv-c9="" >
                    <a >logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="login-from bg-form pt-4">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <div class="form-wrapper ">
                    <div class="booking-header">
                        <h4>Change Password</h4>
                    </div>
                    <form [formGroup]="ForgetForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                           
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
        
        
                        <div class="form-group">
                           
                            <input type="password" formControlName="c_password" class="form-control" placeholder="Confirm password" [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }" />
                            <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                                <div *ngIf="f.c_password.errors.mustMatch">Password and confirm password not matched.</div>
                                
                            </div>
                        </div>
        
                        <div class="text-center">
                            <button class="btn-cstm btn-blue">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
      
        </div>      
    </div>
</section>

