<section class="login-from bg-form pt-4">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <div class="form-wrapper ">
                    <div class="booking-header">
                        <h4>Forget Password</h4>
                    </div>
                    <form [formGroup]="forgotForm" autocomplete="off" novalidate (ngSubmit)="forgot()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" required>
                            </div>
                        </div>                                                      
                    </div>
                    <div class="text-center">
                        <button class="btn-cstm btn-blue">Submit</button>
                    </div>
                     
                                      
                    </form>
                </div>
                </div>
            </div>
        </div>      
</section>

